//后台获取展示效果
@import "template";
$color-txt: #6c6c6c;
$color-title: #000;
.agent-swiper-container{
  height: 557px;
}
.agent-swiper {
  overflow: hidden;
  padding: 30px 0;
  .swiper-icon-container {
    position: absolute;
    top: 37%; }
   .card-title {
     @include font(20px,$color-title,15px);
     text-align: center;
   }
  .card-text {
    @include font(16px,$color-txt);
    @include align(false);
    padding: 0 34px;
  }
  @include iconimg('../../images/agentShow/agent-icon',4);
}