@import "mixin/template";
body{
  background: #fff;
}
.banner{
  position: relative;
  .banner-container{
    position: absolute;
    top: 1.08rem;
    width: 100%;
    .title{
      @include font(.5rem,#fff,.2rem);
      text-align: center;
    }
    .title-bar{
      @include font(.28rem,#fff);
      text-align: center;
    }
  }
}
.part{
  &.b{
    border-bottom: 1px solid #D2D2D2;
  }
  .container{
    padding: .4rem .36rem;
  }
  .title{
    @include font(.32rem,#1F2D3D,.32rem);
  }
  .title-txt{
    @include font(.28rem,#666,.18rem);
  }
  .txt{
    @include font(.28rem,#666);
    @include align(false);
  }
  .part-img{
    margin-bottom: .2rem;
  }
}
.part-1{
  .icon{
    @include icon(1.4rem,1.4rem);
    margin-bottom: .25rem;
  }
  .card-title{
    @include font(.28rem,#666,.18rem);
    text-align: center;
  }
  .card-2{
    padding-top: .3rem;
  }
  .card-2:first-child{
    padding-right: .3rem;
  }
  .card-2:last-child{
    padding-left: .3rem;
  }
  @include iconimg('../images/content2/part01-icon',2);
}
.part-2{
  .content{
    width: 80%;
    background: url("../images/content2/part02-bgB.png") no-repeat center;
    background-size: contain;
    margin: .3rem auto;
    height: 4.6rem;
  }
}
.part-3{
  .card-2-b{
    padding: .22rem;
    .card-title{
      @include font(.28rem,#333,.2rem);
      text-align: center;
    }
  }
  .icon{
    @include icon(1.1rem,1.1rem);
    margin: .1rem auto .2rem;
  }
  @include iconimg("../images/content2/part03-icon",2);
}