<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云店宝注册</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="电商宝为电商多平台卖家提供最专业精准全面的财务数据店铺管理软件，无缝对接多电商平台，提供全渠道订单管理、全渠道批量打单、全渠道库存管理、全渠道商品管理。" />
    <meta name="keywords" content="电商宝，京东财务分析，天猫财务软件，网店管理系统，网店管理软件，saas平台，电商数据分析，淘宝财务管理软件" />
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="address=no">
    <script src="../js/wyboot/wyboot.js"></script>
    <link rel="stylesheet" href="../css/register.css">
</head>
<body>
<div id="app">
    <span class="bg top"></span>
    <span class="bg bottom"></span>
    <div class="container">
        <h3 class="title">注 册</h3>
            <div v-if="isStep1" class="step-1">
                <div id="email" class="input-group">
                    <input v-model="arg.email"
                           @blur="blurEvent($event,'email')"
                           @keyup="contentUpdate"
                           type="email" class="form-control" placeholder="请填写企业邮箱（不支持个人邮箱）">
                    <p class="txt">请输入您的邮箱</p>
                </div>
                <div id="phone" class="input-group">
                    <input v-model="arg.phone"
                           @blur="blurEvent($event,'phone')"
                           @keyup="contentUpdate"
                           type="number" class="form-control" placeholder="请输入您的手机号">
                    <p class="txt">请输入您的手机号</p>
                </div>
                <div id="code" class="input-group code-container">
                    <input v-model="arg.code"
                           @blur="blurEvent($event,'code')"
                           type="number" class="form-control code" placeholder="请输入验证码">
                    <span v-if="isCodeBtn"
                          @click="countDown"
                          class="code-btn">获取验证码</span>
                    <span v-if="!isCodeBtn"
                          class="code-btn" style="color: #999">{{codeTxt}}</span>
                    <p class="txt">请输入验证码</p>
                </div>
                <div class="input-group">
                    <input v-model="arg.password"
                           @blur="blurEvent($event,'password')"
                           @keyup="contentUpdate"
                           type="password" class="form-control" placeholder="请输入密码">
                    <p class="txt">请输入密码</p>
                </div>
            </div>
            <div v-if="!isStep1" class="step-2">
                <div class="input-group">
                    <input  v-model="arg.shopName"
                            @blur="blurEvent($event,'shopName')"
                            @keyup="contentUpdate"
                            type="text" class="form-control" placeholder="请输入公司名称">
                    <p class="txt">请输入公司名称</p>
                </div>
                <div class="input-group">
                    <input  v-model="arg.userName"
                            @blur="blurEvent($event,'userName')"
                            @keyup="contentUpdate"
                            type="text" class="form-control" placeholder="请输入您的姓名">
                    <p class="txt">请输入您的姓名</p>
                </div>
                <!--<div class="input-group info-container">-->
                    <!--<input type="checkbox" class="info">-->
                    <!--<span class="info-desc">我已阅读并同意爱聚HR的企业注册协议</span>-->
                <!--</div>-->
            </div>
        <span :class="['btn','btn-txt',isOver ? '': 'disabled']"
                @click="submit"
        >{{btnTxt}}</span>

    </div>
</div>

<script src="https://scrm.ecbao.cn/assert/libs/layer/layer.js"></script>
<script src="http://www.ecbao.cn/dsb/assert/web_app/js/jQuery.md5.js"></script>
<script src="../js/comm.js"></script>
<script src="../js/register.js"></script>
</body>
</html>