$color-font: #f2a654;
$color-default: #fff;
$color-border: #f2a654;
$border-card: #e5e5e5;
$btn-bg: #f2a654;

$border-color: 1px solid rgba(0,0,0,.1);

$border-radius: .08rem;

//font 尺寸
$font-title: .34rem;
$font-lg: .32rem;
$font:.28rem;
$font-m: .24rem;
$font-sm: 22rem;

//padding 尺寸
$padding-lg: .35rem;
$padding-top: .36rem;
$padding-left: .28rem;
$padding-m: .2rem;
$padding-sm: .15rem;
$padding: .2rem;


//mixin  start
//$s 字体大小 $c 字体颜色  $b margin-bottom 大小
@mixin font($s:.24rem,$c: #333, $b:0){
  @if $c{
    color: $c;
    font-size: $s;
    font-weight: normal;
    margin-bottom: $b;
  }@else {
    font-size: $s;
    font-weight: normal;
    margin-bottom: $b;
  }
}

@mixin align($t:left){
  @if $t{
    text-align: $t;
  }@else{
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
  }
}

@mixin card($w,$b:false,$c:1%){
  @if $b {
    border: $border-color;
    width: ($w - $c);
  }@else {
    width: $w;
  }
  box-sizing: border-box;
  float: left;
  position: relative;
}

@mixin icon($w,$h,$b:block){
  display: $b;
  height: $h;
  width: $w;
  margin: auto;
}

@mixin iconimg($path,$num,$name:'icon',$s:1,$z:"png"){
  @for $i from $s through $num {
    .#{$name}-#{$i} {
      background: url('#{$path}#{$i}.#{$z}') no-repeat center center;
      background-size: contain;
    }
  }
}

@mixin position($type:'X'){
  position: absolute;
  @if($type == 'X'){
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }@else if($type == 'Y'){
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }@else {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}
//mixin  end

.clear:before,.clear:after{
  content: "";
  display: table;
  clear: both;
}
//头部导航  start
header{
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 0 #e5e5e5;
  font-size: $font;
  padding: $padding-sm;
  position: fixed;
  width: 100%;
  z-index: 99;
  .logo{
    background: url("../../images/comm/logo.png") no-repeat;
    background-size: contain;
    display: inline-block;
    height: .5rem;
    width: 2rem;
  }
  .logo-bar{
    background: url("../../images/comm/logo-bar.png") no-repeat;
    background-size: contain;
    display: inline-block;
    height: .5rem;
    width: 2rem;
  }
  .head-btn{
    @include font(.32rem,#fff);
    background: #F2A654;
    border-radius: 6%;
    text-align: center;
    padding: 1% 2%;
  }
}
//头部导航  end

//banner样式  start
.banner{
  position: relative;
  .banner-container{
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: .6rem;
    width: 100%;
    .banner-title{
      @include font(.36rem,#fff);
    }
    .banner-text{
      @include font(.28rem,#fff);
    }
    .banner-btn{
      @include font(.29rem,#fff);
      background: rgba(243,152,0,.7);
      box-sizing: border-box;
      border-radius: .1rem;
      display: block;
      margin: .2rem auto;
      padding: .18rem .23rem;
      width: 2.46rem;
    }
  }
}
//banner样式  end

//主体样式  start
.mobile-body{
  margin-top: .9rem;
  min-height: 94%;
}
//主体样式  end

//title-container样式  start
.part {
  @include font($font-m,false,.2rem);
  .title-container {
    @include font($font-title,#333);
    border-bottom: 1px solid #E5E5E5;
    padding: $padding-top $padding-left;
    .icon {
      background: #5AA2E7;
      display: inline-block;
      width: .06rem;
      height: $font-title;
      margin-bottom: .08rem;
      vertical-align: middle;
      margin-right: .16rem;
    }
    .text {
      @include font(.26rem,#666);
      padding-top: $padding-m;
    }
  }
  .card-container {
    box-sizing: border-box;
    padding: $padding-m;
    overflow: hidden;
    &.line {
      padding-bottom: $padding;
    }
    &.no-padding {
      padding: $padding-m 0;
    }
  }
}
//title-container样式  end

//card 布局  start
//有边框
.card-1-b{
  @include card(100%,true,0%);
}
.card-2-b{
  @include card(50%,true);
  margin-bottom: .18rem;
}
.card-2-b:nth-child(2n-1){
  margin-right: 2%;
}
.card-3-b{
  @include card(33.3%,true);
}
.card-3-b:nth-child(2){
  margin: 0 1.5%;
}
//无边框
.card-2{
  @include card(50%);
}
.card-3{
  @include card(33.3%);
}
.card-4{
  @include card(25%);
}
.card-5{
  @include card(20%);
}
//card 布局  end

//公共底部样式  start
.mobile-foot{
  background: #fff;
  bottom: 0;
  border-top: $border-color;
  padding: .15rem 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 99;
  .card-5{
    width: 17.5%;
    height: .65rem;
  }
  .diver:after{
    @include position('Y');
    content: "";
    right: 0;
    background: #fff;
    height: .5rem;
    width: 1px;
  }
  .card-5:last-child{
    width: 30%;
  }
  .btn{
    @include font(.3rem,#fff);
    box-sizing: border-box;
    background: #F2A654;
    display: block;
    margin-right: .2rem;
    padding: .1rem .2rem;
  }
  .txt{
    @include font(.22rem,#555E67);
    @include position('X');
    width: 100%;
    bottom: 0;
    display: block;
  }
  .icon-1{
    @include icon(.5rem,.4rem);
    background: url("../../images/comm/mobile-bar.png") no-repeat;
    background-size: contain;
    margin-top: .15rem;
  }
  .icon-2{
    @include icon(.31rem,.31rem);
    background: url("../../images/comm/mobile-phone.png") no-repeat;
    background-size: contain;
  }
  .icon-3{
    @include icon(.37rem,.24rem);
    background: url("../../images/comm/mobile-message.png") no-repeat;
    background-size: contain;
  }
  .icon-4{
    @include icon(.28rem,.28rem);
    background: url("../../images/comm/mobile-scan.png") no-repeat;
    background-size: contain;
  }
}
//公共底部样式  end

//底部公共上拉导航  start
.dropdown-menu{
  background: #fff;
  bottom: .9rem;
  font-size: .28rem;
  padding: 0;
  position: fixed;
  height: 0;
  overflow: hidden;
  width: 34%;
  &.active{
    padding: .25rem 0;
  }
  li{
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    margin-bottom: -1px;
  }
  .item{
    color: #555E67;
    display: inline-block;
    padding: .2rem 0;
  }
}
//底部公共上拉导航  end

//其他公共样式  start
.none{
  display: none;
}
.response-img{
  display: block;
  width: 100%;
  height: auto;
}
.mask{
  background: rgba(0,0,0,.3);
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  .mask-container{
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: .3rem;
    position: absolute;
    width: 60%;
  }
}
//其他公共样式  end

//ECBAO mobile公用样式  start
.mask-foot-nav{
  display: none;
}
.mask-erwei,
.mask-tel{
  display: none;
  color: #fff;
  a{
    color: #fff;
  }
}
.mask-erwei{
  text-align: center;
  .info{
    font-size: .34rem;
    margin-top: .3rem;
  }
}
.tel-alert{
  background: #203a55;
  border-radius: .08rem;
  box-shadow: 0 0 0.1rem #203a55;
  color: #fff;
  font-size: .28rem;
  left: 50%;
  padding: .3rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 62%;
  .title{
    font-size: .34rem;
    margin-bottom: .3rem;
    text-align: center;
  }
  .info{
    margin-bottom: .3rem;
  }
  .tel-btn-container{
    text-align: center;
    .sure{
      margin-left: 1.5rem;
    }
  }
}
.class_qidian_wpa{
  display: none;
}
//ECBAO mobile公用样式  end